.nav-block__list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-block__list-item{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;

    background: transparent;
    border: 1px solid #515595;
    margin-right: 8px;
    transition: all 0.3s ease-in;
}
.nav-block__list-item.active{
    background: #515595;
}
.nav-block__list-item:hover{
    background: #515595;
    transition: all 0.3s ease-in;
}
.nav-block__list-item:last-child{
    margin-right: 0;
}
.nav-block__list-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}