/* about-himeraSear-block */
.about-himeraSear__title{
    max-width: 696px;
    margin: 0 auto 20px;
    text-align: center;
}
.about-himeraSear__subtitle{
    max-width: 816px;
    margin: 0 auto 50px;
    text-align: center;
}
.about-himeraSear__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-himeraSear__img-wrap{
    max-width: 640px;
    margin-right: 20px;
}
.about-himeraSear__img-wrap{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.about-himeraSear__content{
    max-width: 410px;
    width: 100%;
}
.about-himeraSear__list{
    margin-bottom: 36px;
}
.about-himeraSear__list-item{
    position: relative;
    padding-left: 50px;
    margin-bottom: 23px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #515595;
}
.about-himeraSear__list-item:last-child{
    margin-bottom: 0;
}
.about-himeraSear__list-item::before{
    content: url('../../../images/icons/list-icon.svg');
    position: absolute;
    width: 20px;
    height: 22px;
    top: 0;
    left: 0;
}
.about-himeraSear__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

    height: 65px;
    padding: 12px 50px;
}
@media(max-width: 1024px) {
    .about-himeraSear__title{
        max-width: 450px;
    }
    .about-himeraSear__list-item{
        padding-left: 35px;
    }
}
@media(max-width: 825px) {
    .about-himeraSear__wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .about-himeraSear__img-wrap{
        margin-bottom: 30px;
    }
    .about-himeraSear__list-item{
        font-size: 15px;
    }
    .about-himeraSear__btn {
        height: 55px;
        padding: 12px 34px;
    }
}
@media(max-width: 425px){
    .about-himeraSear__list{
        margin-bottom: 30px;
    }
    .about-himeraSear__btn {
        font-size: 15px;
        height: 50px;
        padding: 10px 22px;
    }
}